<% provide(@user) %>
<div class='content'>
  <div class='userbox'>
    <div class='userbox__top'>
      <div class='userbox__top__left'>
        <div class='userbox__top__left__icon'>
          <% if @image.present? %>
            <%= image_tag @image.url, class: "user_icon" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='user_name'><%= @user.name %></div>
<div class='profile'><%= @user.profile %></div>