<h1>オーダー編集</h1>
<div class="row">
  <div class="center-block">
  <% if current_user?(@user) %>
    <%= link_to "オーダーを削除する", @order, method: :delete,
                                data: { confirm: "このオーダーを削除しますか？" } %>
  <% end %>
    <%= render 'order_form' %>
  </div>
</div>