<% provide(:title, 'order edit') %>
<% provide(:button_text, 'edit my order') %>
<h1>オーダー編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'order_form' %>
  </div>
</div>