
<h1><%= @order.title %></h1>
<h2><%= @order.body %></h2>

<h3>提案一覧</h3>
<% @order.suggestions.each do |suggestion| %>
  <% suggestion_link ='https://5815546607e74e9992c31e3e6942c7fe.vfs.cloud9.ap-northeast-1.amazonaws.com/suggestion/' + suggestion.id.to_s %>
  <%= link_to suggestion.title, suggestion %><br>
<% end %>
