/* edit */

.profile{
  .form-control{
    height: 150px;
    resize: none;
  }
}

.profile-btn{
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 90px;
  padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #E78140;
	border: 1px solid #E78140;
	border-radius: 0.3em;
}
