<% provide(:title, 'suggestion edit') %>
<% provide(:button_text, 'edit my suggestion') %>
<h1>提案編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'suggestion_form' %>
  </div>
</div>